@media (max-width: 992px){
	nav ul{
		display: none;
		width: 100%;
		text-align: center;
	}
	nav ul.active{
		display: block;
	}
	nav ul li{
		margin: 0;
	}
	.menu-toggle{
		position: absolute;
		top: 40px;
		right: 40px;
		font-size: 30px;
		color: #fff;
		display: block;
	}
}
@media (max-width: 768px) {
	.about-sec p{
		margin-bottom: 30px;
	}
}